# Variables

Variables are fundamental elements in programming used to store data can be referenced and manipulated in a program. In Python, variables are created when you assing a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assing a value to a variable.

Video Outline:
-   Introduction to Variables
-   Declaring and assigning variables
-   Naming Conventions
-   Understanding varible types
-   Type checking and conversion
-   Dynamic Typing
-   Practical Examples and common errors

In [2]:
a = 100
print(a)

100

In [5]:
## Declaring and assingninf variables
age = 28
height = 1.75
name = "Jose"
is_student = True

## printing variables
print("age ", age)
print("height ", height)
print("name ", name)
print("is_student ", is_student)

age  28
height  1.75
name  Jose
is_student  True

In [6]:
  # naming conventions
  ##  variables name should be descriptive
  ## they must start with a letter or an '_' and contain letter, numbers and underscores
  ## variables names case sensitive

  # valid variables names 
  first_name = "Jose"
  second_name = "Balbuena"

In [ ]:
# invalided variable names
# 2name = "Jorge"
# firts-name = "Perez"
# @name = "Ary"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3511673858.py, line 4)

In [12]:
## case sensitivity
name = "Jorge"
Name = "Jose"

print(name)
print(Name)

Jorge
Jose

In [15]:
## Understanding variables types
## Python is dynamically typed, type of a variable is determined at runtime

age = 25 # int
height = 6.1 # float
name = 'Jose' #str
print(type(name))

<class 'str'>

In [16]:
## Type checkig and conversion

type(height)

float

In [18]:
# convert age from int to str

age = 28
print(type(age))

# Type conversion
age_str = str(age)
print(type(age_str))

# reconvert
print(type(int(age_str)))

<class 'int'>
<class 'str'>
<class 'int'>

In [19]:
## error convert type
name = "Jose"
int(name)

ValueError: invalid literal for int() with base 10: 'Jose'

In [ ]:
height = 5.1
type(height)

float

In [22]:
int(height)

5

In [23]:
float(int(height))

5.0

In [26]:
## Dynamic Typing
## Python allows the type of a variable changes as the programan executes
var = 10
print(var, " ", type(var))

var = "Hello"
print(var, " ", type(var))

var = 4.2
print(var, " ", type(var))

10   <class 'int'>
Hello   <class 'str'>
4.2   <class 'float'>

In [28]:
## input 

# age = input("What is the age")
# print(age)

age = int(input("What is the age"))
print(age, type(age))

13 <class 'int'>

In [29]:
## simple calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum_ = num1 + num2
difference = num1 - num2
product =  num1 * num2
quotient = num1 / num2

print("Sum ", sum_)
print("Difference ", difference)
print("Product ", product)
print("Quotient ", quotient)

Sum  22.0
Difference  -2.0
Product  120.0
Quotient  0.8333333333333334