## DataTypes

1.  Definition:
-   Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
-   They determine the type of the operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

2.  Importance of Data Types in Programming

Explanation:
-   Data types ensure that data is stored in a efficient way.
-   They help in performing correct operations on data.
-   Proper use of data types can prevent errors and bugs in the program.

Video Outline:

1.  Introduction to Data Types
2.  Importance of Data Types in Programming
3.  Basic Data types:
    -   Integers
    -   Floating-point numbers
    -   Strings
    -   Booleans

4.  Advanced Data Types:
    -   Lists
    -   Tuples
    -   Sets
    -   Dictionaries

5.  Type conversion
6.  Practical Examples

In [1]:
## Integer Exmples

age = 28
type(age)

int

In [2]:
## floating point datatype

height = 1.75
print(height)
print(type(height))

1.75
<class 'float'>

In [3]:
## string datatype example
name = "Jose"
print(name)
print(type(name))

Jose
<class 'str'>

In [5]:
## boolean datatype True, False
is_true = True
type(is_true)

bool

In [6]:
## bool by default is False
is_false = bool()
print(is_false)

False

In [8]:
a = 10
b = 10
type(a == b)

bool

In [ ]:
## common errors
result = "Hello " + 5 # you cannot concated string with integer
print(result)

TypeError: can only concatenate str (not "int") to str

In [10]:
# solve this error
result = "Hello " + str(5)
print(result)

Hello 5

In [11]:
str = "Hello"
str.upper()

'HELLO'