# Video Outline:
1. Introduction
2. Arithmetic Operators:
    -   Addition
    -   Subtraction
    -   Multiplication
    -   Division
    -   Floor Division
    -   Modulus
    -   Exponentation

3. Comparison Operators:
    -   Equal to
    -   No equal to
    -   Greater than
    -   Less than
    -   Greater than or equal to
    -   Less than or equal to
4.  Logical Operators:
    -   AND
    -   OR
    -   NOT 
5. Practical examples and commons errors

In [3]:
## Arithmethic Operation

a = 10
b = 5

add_result = a + b # addition
sub_result = a - b # subtraction
mult_result = a * b # multiplication
div_result = a / b # division
floor_div_result = a // b # floor division
modulus_result = a % b # modulus operation
exponent_result = a ** b # Exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [4]:
10/5

2.0

In [5]:
21//4

5

### Comparison operators

In [ ]:


## == equal comparison
a = 10
b = 10
print(a == b)

True

In [7]:
str1 = "Jose"
str2 = "jose"
print(str1 == str2)

False

In [8]:
## Not equal to != 
str1 != str2

True

In [ ]:
# greater than  >
num1 = 45
num2 = 55

num1 > num2

False

In [10]:
## less than <

num1 = 50
num2 = 45

num1 < num2

False

In [11]:
# greater than or equal to
num1 = 35
num2 = 35
num1 >= num2

True

In [12]:
# less than or equal to
num1 = 31
num2 = 35
num1 <= num2

True

### Logical operators

In [14]:
## And, Not, Or

# And both values should be tTrue , to the result will be True 
X = True
Y = True

result = X and Y
print(result)

True

In [16]:
# Or one of the both values should be True , to the result will be True 
X = True
Y = False

result = X or Y
print(result)

True

In [17]:
# Not operator is the reverse of the boolean value is True with Not will be False
X = True
result = not X
print(result)

False

In [18]:
## Simpler calculator
num1 = float(input("Enter first numer: "))
num2 = float(input("Enter second numer: "))

# performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentation = num1 ** num2

# display  results
print("Addition: ", addition)
print("Subtraction: ", subtraction)
print("Multiplication: ", multiplication)
print("Division: ", division)
print("Floor Division: ", floor_division)
print("Modulus: ", modulus)
print("Exponentation: ", exponentation)

Addition:  22.0
Subtraction:  -2.0
Multiplication:  120.0
Division:  0.8333333333333334
Floor Division:  0.0
Modulus:  10.0
Exponentation:  1000000000000.0