## Set 

Set are a built-in data type in Python used to stores collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership test, eliminating duplicate entries and performing mathematical set operations like union, intersection, difference, and symmectric difference.

In [1]:
## create a set

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
my_empty_set = set([])
print(my_empty_set)
print(type(my_empty_set))

set()
<class 'set'>

In [5]:
my_set = set([1,2,3,6,4,5,6])
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [6]:
## Basic set operations

## Adding and removing elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [7]:
## Remove the elements from a set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [8]:
my_set.remove(10)

KeyError: 10

In [9]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [11]:
## pop method
removed_element = my_set.pop()
print(removed_element)
print(my_set)

2
{4, 5, 6, 7}

In [12]:
## pop method
removed_element = my_set.pop()
print(removed_element)
print(my_set)

4
{5, 6, 7}

In [13]:
# clear all the elements
my_set.clear()
print(my_set)

set()

In [15]:
## Set Membership test
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
## Mathematical operation
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## union -> combined two sets 
union_set = set1.union(set2)
print(union_set)

## intersection -> common elements on both sets
intersetion_set = set1.intersection(set2)
print(intersetion_set)

set1.intersection_update(set2) # assing the intersection of set1 with set2 on the set1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
## Difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

print(set1.difference(set2)) # remove from the set1 the common elements with the set2

{1, 2, 3}

In [21]:
set1

{1, 2, 3, 4, 5, 6}

In [23]:
set2.difference(set1)

{7, 8, 9}

In [ ]:
## symmetric difference
set1.symmetric_difference(set2) # combine both units elements on the two sets

{1, 2, 3, 7, 8, 9}

In [27]:
## Sets methods
set1 = {1,2,3}
set2 = {3,4,5}

## is subset
print(set1.issubset(set2))

False

In [30]:
## Sets methods
set1 = {3,4}
set2 = {3,4,5}

## is subset
print(set1.issubset(set2))

True

In [36]:
set1 = {3,4,5,6}
set2 = {3,4,5,1}

## is superset
print(set1.issuperset(set2))

False

In [37]:
set1 = {3,4,5,6}
set2 = {3,4,5}

## is superset
print(set1.issuperset(set2))

True

In [39]:

lst = [1,2,2,3,4,5,5,5]
# fast way of remove duplicate elements on lst
set(lst)

{1, 2, 3, 4, 5}

In [40]:
### Counting unique words in text
text = "In this tutorial we are discussing about sets"
words = text.split()

## convert list of words to set to unique words
unique_words = set(words)
print(len(unique_words))

8