## Tuples

Outline:
1.  Introduction to Tuples
2.  Creating Tuples
3.  Accessing Tuple Elements
4.  Tuple Operations
5.  Immutable Nature of Tuple
6.  Tuple Methods
7.  Packing and Unpacking tuples
8.  Nested tuples
9.  Practical examples and common errors

## Introduction to tuples
Explanation:
Tuples are ordered collections of items that are immutable. They are similar to list, but their immutability makes them different.

In [2]:
## Creating a tuple 
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [4]:
lst = list()
print(type(lst))
tpl = tuple()
print(tpl)

<class 'list'>
()

In [6]:
numbers = tuple([1,2,3,4,5,6])
print(numbers)
print(type(numbers))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [ ]:
lista = list((1,2,3,4,5,6)) ## Convert a tuple to list
print(type(lista))

<class 'list'>

In [8]:
mixed_tuple = (1, "Hello word", 3.14, True)
print(mixed_tuple)

(1, 'Hello word', 3.14, True)

In [10]:
## Accessing tuple elements
string = mixed_tuple[1]
print(string)

Hello word

In [11]:
## Access the first element and last element
print(mixed_tuple[0])
print(mixed_tuple[-1])

1
True

In [12]:
# slicing tuple
numbers[1:3]

(2, 3)

In [13]:
# reversing numbers with slicing
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [15]:
## Tuple Operations, concatenation two tuples
concatenation = numbers + mixed_tuple
print(concatenation)

(1, 2, 3, 4, 5, 6, 1, 'Hello word', 3.14, True)

In [16]:
mixed_tuple * 3

(1,
 'Hello word',
 3.14,
 True,
 1,
 'Hello word',
 3.14,
 True,
 1,
 'Hello word',
 3.14,
 True)

In [17]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [18]:
## Immutable nature of tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.add()

lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [19]:
lst[1] = "jose"
print(lst)

[1, 'jose', 3, 4, 5]

In [21]:
print(numbers)
print(numbers[1])

(1, 2, 3, 4, 5, 6)
2

In [22]:
numbers[1] = 'jose'

TypeError: 'tuple' object does not support item assignment

In [23]:
## Tuple methods
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
print(numbers.count(3)) # count the times the 3 appers
print(numbers.index(3)) # return the first index of the value

1
2

In [26]:
## Packing and unpaking tuple
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [27]:
## unpacking a tuple 
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [29]:
## unpacking with *
numbers = (1,2,3,4,5,6)
first, *middle, last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [32]:
# Nested list
lst = [[1,2,3,4], [6,7,8,9], [1, "Hello", 3.14, "c"]]
print(lst[0][3])

4

In [35]:
# Nested tuple
nested_tuple = ((1,2,3,4), (6,7,8,9), (1, "Hello", 3.14, "c"))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[0][3])

(1, 2, 3, 4)
4

In [37]:
## Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(f'tuple {sub_tuple}: item {item}')

tuple (1, 2, 3, 4): item 1
tuple (1, 2, 3, 4): item 2
tuple (1, 2, 3, 4): item 3
tuple (1, 2, 3, 4): item 4
tuple (6, 7, 8, 9): item 6
tuple (6, 7, 8, 9): item 7
tuple (6, 7, 8, 9): item 8
tuple (6, 7, 8, 9): item 9
tuple (1, 'Hello', 3.14, 'c'): item 1
tuple (1, 'Hello', 3.14, 'c'): item Hello
tuple (1, 'Hello', 3.14, 'c'): item 3.14
tuple (1, 'Hello', 3.14, 'c'): item c

## Conclusion
Tuples are versatile and useful in many real-worls scenarios where an immutable and ordered collection of items is requered. They are commonly used un data structures, function arguments are return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficieny and readability of your Python code.